html {height: 100%:
    width: 100%;
}
	
body {height: 100%:
	width: 100%;
	background-color: #999999;
    overflow: hidden;
}

#content {height: 100%;
    width: 80%;
    margin: auto;
}

#col1 {height:100%;
    float: left;
    width: 50%;
    border-color: #000066;
}

#header {height: 20%;
    width: 95%;
    margin: auto;
}

#input {height: 10%;
    width: 95%;
    margin: auto;
}

#dice {height: 70%;
    width: 95%;
    margin: auto;
}

#col2 {height:100%;
    float: left;
    width: 50%;
    border-color: #660000;
}

#output {height: 100%;
    width: 95%;
    margin: auto;
}


.button {
    background-color: #000066;
}